@model BookBuddy_MVC.Models.Book

@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-12 col-md-11 col-lg-9 col-xl-7 col-xxl-6 text-center text-dark">
            <h1 class="display-3 fw-bold mb-3">Add new books</h1>
            <p class="lead mb-5">Here you can add books to the library</p>
        </div>
    </div>

    <hr />

    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <!-- First Column -->
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                    <br />
                </div>
                <div class="form-group">
                    <label asp-for="Author" class="control-label"></label>
                    <input asp-for="Author" class="form-control" />
                    <span asp-validation-for="Author" class="text-danger"></span>
                    <br />
                </div>
                <div class="form-group">
                    <label asp-for="Genre" class="control-label"></label>
                    <select asp-for="GenreId" class="form-control" asp-items="ViewBag.GenreId"></select>
                    <span asp-validation-for="GenreId" class="text-danger"></span>
                    <br />
                </div>
                <div class="form-group">
                    <label asp-for="NoOfPages" class="control-label"></label>
                    <input asp-for="NoOfPages" class="form-control" />
                    <span asp-validation-for="NoOfPages" class="text-danger"></span>
                    <br />
                </div>
            </div>

            <!-- Second Column -->
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="IsbnNo" class="control-label"></label>
                    <input asp-for="IsbnNo" class="form-control" />
                    <span asp-validation-for="IsbnNo" class="text-danger"></span>
                    <br />
                </div>
                <div class="form-group">
                    <label asp-for="Status" class="control-label"></label>
                    <select asp-for="Status" class="form-control" asp-items="ViewBag.Status"></select>
                    <span asp-validation-for="Status" class="text-danger"></span>
                    <br />
                </div>
                <div class="form-group">
                    <label asp-for="Location" class="control-label"></label>
                    <select asp-for="LocationId" class="form-control" asp-items="ViewBag.LocationId"></select>
                    <span asp-validation-for="LocationId" class="text-danger"></span>
                    <br />
                </div>
                <div class="form-group">
                    <label asp-for="ImageURL" class="control-label"></label>
                    <input asp-for="ImageURL" class="form-control" />
                    <span asp-validation-for="ImageURL" class="text-danger"></span>
                </div>
            </div>
        </div>
        <br />
        <div class="form-group">
            <input type="submit" value="Add book" class="btn btn-secondary" />
        </div>
    </form>

    <br />

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
</div>
