
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-12 col-md-11 col-lg-9 col-xl-7 col-xxl-6 text-center text-dark">
            <h1 class="display-3 fw-bold mb-3">My book tracking</h1>
            <p class="lead mb-5">Here you can keep track of your reading progress, your reading goals and your reading accomplishments</p>
        </div>
    </div>
</div>

