html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.hcf-bp-center {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw; 
    height: 100vh; 
    margin-left: calc(-50vw + 50%); /* Centrer sektionen ved at justere venstre margin */
}

.custom-background {
    background-color: #f0f0f0; /* Erstat med den farvekode, du ønsker */
}

