@{
    ViewData["Title"] = "BookBuddy";
    ViewData["Message"] = "Made by: Lasse Tvedegaard Nyboe";
}

<head>
</head>
<section class="px-5 py-6 py-xxl-10 hcf-bp-center hcf-bs-cover hcf-overlay " style="background-image: url('../../images/baggrund3.png');">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-11 col-lg-9 col-xl-7 col-xxl-6 text-center text-white">
                <h1 class="display-3 fw-bold mb-3">Track your reading</h1>
                <h3 class="fw-bold mb-3">For the avid reader</h3>
                <p class="lead mb-5">Maintain a record of the books you've read, those on your reading list, and the current page or progress in the book you're currently reading.</p>
                
                <div class="container mt-2 bg-light py-4 bg-opacity-75 rounded-3 ">
                    <div class="container py-4 text-white">
                        <h4>Famous Literary Quotes</h4>
                        <div class="row justify-content-center">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero -->
